* * * * * www-data cd /var/www/app && php artisan recurring:post >> /var/www/app/storage/logs/cron.log 2>&1
* * * * * www-data date >> /var/www/app/storage/logs/cron-heartbeat.log 2>&1
* * * * * www-data cd /var/www/app && /usr/local/bin/php artisan recurring:post >> /var/www/app/storage/logs/cron.log 2>&1
